@model List<DataTableCRUD.Models.Module>
    <table class="table table-bordered" id="editTableId">
        <thead>
            <tr>
                <td>Module-ID</td>
                <td>Module-Name</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
            <tr>
                <td>@d.ModuleId</td>
                <td>@d.ModuleName</td>
                <td><a data-action="Edit" data-id="@d.ModuleId">Edit</a></td>
                <td><a data-action="Delete" data-id="@d.ModuleId">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
