@model List<DataTableCRUD.Models.Service>
<table class="table table-bordered" id="tableId">
    <thead>
        <tr>
            <td>Service-Name</td>
           
            <td>Edit</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
            <tr>
                <td>@u.ServiceName</td>
               
                <td><a data-action="Edit" data-id="@u.ServiceId">Edit</a></td>
                <td><a data-action="Delete" data-id="@u.ServiceId">Delete</a></td>

            </tr>
        }

    </tbody>


</table>


